# Stage A: Introduction to Python for Machine Learning - Graded Quiz

In [1]:
#import the necessary datascience libraries

import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
import seaborn as sns

In [5]:
# load, save and read the file from the url

df = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')
df.to_csv('my_dataset', index = False)
dm = pd.read_csv('my_dataset')

# preview the first 5 rows of the dataset
dm.head(5)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

## Question 1

In [6]:
# using the extend() method creates a single dimension list of A and B

A = [1,2,3,4,5,6]
B = [13,21,34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [7]:
# using the append() method creates a list of b in a

a = [1,2,3,4,5,6]
b = [13,21,34]
a.append(b)
a

[1, 2, 3, 4, 5, 6, [13, 21, 34]]

## Question 2

In [8]:
# create an identity matrix

id_mat = np.identity(3)
id_mat

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## Question 3

In [9]:
# find the fuel type code with the lowest average fuel cost per unit burned

dm.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().idxmin()

'gas'

## Question 4

In [10]:
# find the standard deviation of the measure of energy per unit in 2 decimal places (d.p)

round(dm['fuel_mmbtu_per_unit'].std(), 2)

10.6

In [11]:
# find the 75th percentile of the measure of energy per unit in 2 d.p

round(dm['fuel_mmbtu_per_unit'].quantile(0.75), 2)

17.01

## Question 5

In [12]:
# find the skewness for the fuel quantity burned in 2 d.p

round(dm['fuel_qty_burned'].skew(), 2)

15.85

In [13]:
# find the kurtosis for the fuel quantity burned in 2 d.p

round(dm['fuel_qty_burned'].kurt(), 2)

651.37

## Question 6

In [14]:
# find names of columns with null values and the corresponding sum of null values for each column

a = dm.columns
b = list(dm.isnull().sum())
c = list(zip(a,b))
for col_name, sum_null in c:
    if sum_null:
        answer = f'{col_name}: {sum_null}'
answer

'fuel_unit: 180'

In [15]:
# find the percentage of missing rows as a factor of the total number of rows in 3 d.p

total_null = eval(answer.split()[1])
total_row = dm.describe(include='all').loc['count', 'record_id']
round((total_null/total_row) * 100, 3)

0.61

## Question 7

In [16]:
# the feature with missing values falls under categorical because its values are not numeric.
# also, since its values are not numerical, the best missing value imputation technique I would adopt is the mode.

## Question 8

In [17]:
# find features with the 2nd and 3rd lowest correlation with the fuel cost per unit burned

low_cor = dm.corr().loc['fuel_cost_per_unit_burned'].sort_values(ascending = True)[1:3]
low_cor

fuel_qty_burned       -0.018535
fuel_mmbtu_per_unit   -0.010034
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 9

In [18]:
# find the fuel cost per unit burned in 1994 and 1998

fuel_cost = dm[(dm['fuel_type_code_pudl'] == 'coal') & ((dm['report_year'] == 1998) | (dm['report_year'] == 1994))].groupby('report_year')['fuel_cost_per_unit_burned'].sum()
fuel_cost

report_year
1994    14984.572
1998    11902.597
Name: fuel_cost_per_unit_burned, dtype: float64

In [20]:
# find the percentage change in fuel_cost in 1998 compared to 1994

round(((fuel_cost.loc[1998] - fuel_cost.loc[1994])/fuel_cost.loc[1994])  * 100)

-21.0

## Question 10

In [21]:
# find the year with the highest average fuel cost per unit delivered

dm.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().idxmax()

1997